<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tobuy.mapper.ResourceTableMapper">
	<resultMap id="BaseResultMap" type="com.tobuy.pojo.ResourceTable">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="type" jdbcType="INTEGER" property="type" />
		<result column="path" jdbcType="VARCHAR" property="path" />
	</resultMap>
	<sql id="Base_Column_List">
		id, type, path
	</sql>
	
	
	<!-- ========================================================================= -->
	<!-- =========================通过id组返回头像路径================================ -->
	<select id="selectSrcByIds" parameterType="java.util.ArrayList" resultType="java.lang.String">

		<foreach collection="list" item="item" index="index" open="select path from resource_table  where" separator="or">
			resource_table.id = #{item}
		</foreach>

	</select>
	<!-- ========================================================================= -->
	
	
	<!-- ======================================================================================== -->
	<!-- =========================通过单个头像返回头像路径======================================== -->
	<select id="selectSrcById" parameterType="java.lang.Integer" resultType="java.lang.String">
		select resource_table.path from resource_table where #{id} = resource_table.id
	</select>
	<!-- ======================================================================================== -->
	<!-- ======================================================================================== -->
	<!-- =========================通过用户id返回头像路径============================================ -->
	<select id="selectSrcByUserId" parameterType="java.lang.Integer" resultType="java.lang.String">
		select resource_table.path from resource_table, user_table where user_table.head = resource_table.id and user_table.id=#{id}
	</select>	
	
	
	<!-- ======================================================================================== -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from resource_table
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		resource_table
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.tobuy.pojo.ResourceTable">
		insert into resource_table
		(id, type, path
		)
		values (#{id,jdbcType=INTEGER},
		#{type,jdbcType=INTEGER},
		#{path,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.tobuy.pojo.ResourceTable">
		insert into resource_table
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="path != null">
				path,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="type != null">
				#{type,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.tobuy.pojo.ResourceTable">
		update resource_table
		<set>
			<if test="type != null">
				type = #{type,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.tobuy.pojo.ResourceTable">
		update
		resource_table
		set type = #{type,jdbcType=INTEGER},
		path =
		#{path,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>


</mapper>